:root {
  --ff--large-screen--nav: Josefin Slab, serif;
  --fs--large-screen--nav: 2em;
  --fw--large-screen--nav: 600;

  --ff--large-screen--headings: Quattrocento Sans, serif;
  --fs--large-screen--headings: 5.3em;
  --fw--large-screen--headings: 400;

  --ff--large-screen--body: Poppins, serif;
  --fs--large-screen--body: 1.75em;
  --fw--large-screen--body: 400;

  --ff--large-screen--buttton: Poppins;
  --fs--large-screen--buttton: 1.5em;
  --fw--large-screen--button: 500;

  --ff--small-screen--nav: Josefin Slab, serif;
  --fs--small-screen--nav: 0.6em;
  --fw--small-screen--nav: 500;

  --ff--small-screen--headings: Lato, serif;
  --fs--small-screen--headings: 2em;
  --fw--small-screen--headings: 700;

  --ff--small-screen--body: Poppins, serif;
  --fs--small-screen--body: 0.8em;
  --fw--small-screen--body: 400;

  --ff--small-screen--buttton: Poppins;
  --fs--small-screen--buttton: 1em;

  --primary-color: #0f4382;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: Poppins;
  font-weight: var(--fw--body);
  color: var(--primary-color);
  max-width: 1440px;
  background-color: #c5e9f5;
  /* background: radial-gradient(
    49.57% 98.02% at 49.57% 50.37%,
    #e5faff 21.15%,
    #98bac6 100%,
    #35cdff 100.01%
    
  ); */
}

img {
  max-width: 100%;
}

.container {
  max-width: 90%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1em;
  font-weight: bolder;
  font-family: var(--ff--small-screen--nav);
  color: #123d6d;
}

.nav-link:hover {
  color: #482ff7;
}

.logo {
  width: 30%;
}

.nav-menu {
  position: fixed;
  left: -100%;
  top: 5rem;
  flex-direction: column;
  /* background-color: #92aeb8; */
  opacity: 0.9;
  width: 50%;
  border-radius: 10px;
  text-align: center;
  transition: 0.3s;
  /* box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05); */
}

.nav-menu.active {
  left: 0;
  background-color: #92aeb8;
}

.nav-item {
  margin: 1.5rem 0;
}

.hamburger {
  display: block;
  cursor: pointer;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
  transform: translateY(-8px) rotate(-45deg);
}

.main__container {
  margin: 0px auto;
  text-align: center;
}

h1 {
  font-family: var(--ff--small-screen--headings);
  font-size: var(--fs--small-screen--headings);
}

h1 + p {
  margin: 0.9rem 0em;
  font-weight: 400;
}

.headphone__links {
  display: flex;
  justify-content: space-around;
}

.headphone__links a {
  text-decoration: none;
  border: none;
  border-bottom: 1px solid var(--primary-color);
  padding: 0.3em 1em;
  color: var(--primary-color);
  font-family: var(--ff--small-screen--buttton);
  width: var(--fw--large-screen--button);
  border-radius: 20px;
}

.headphone__links a:hover {
  color: white;
  border: none;
  background-color: var(--primary-color);
}

.socialmedia__handle {
  margin: 10px auto;
  /* border: 1px solid red; */
}
.fa-brands a {
  margin-left: 1em;
}

footer {
  text-align: center;
}

i.fa-brands.fa-2x.fa-facebook-f,
i.fa-brands.fa-2x.fa-instagram,
i.fa-brands.fa-2x.fa-twitter {
  display: none;
}

footer p {
  font-size: 0.6em;
}

@media screen and (min-width: 48rem) {
  .bar {
    display: block;
    width: 40px;
    height: 3px;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
  }

  .logo {
    width: 60%;
  }

  .headphone__main_image {
    width: 70%;
  }
}

@media screen and (min-width: 64rem) {
  body {
    /* background: ; */
    margin: 0px auto;
  }

  .hamburger {
    display: none;
  }

  nav {
    font-size: 1.5em;
    font-family: var(--ff--large-screen--nav);
    font-weight: var(--fw--large-screen--nav);
  }

  .nav-menu {
    position: relative;
    left: 0%;
    top: 0rem;
    flex-direction: row;
    max-width: 100%;
    border-radius: 0px;
    text-align: left;
  }

  .nav-item:hover {
    border-bottom: 2px solid #184162;
  }

  .container {
    max-width: 90%;
  }

  h1 {
    font-family: var(--ff--large-screen--headings);
    font-size: var(--fs--large-screen--headings);
    font-weight: var(--fw--large-screen--headings);
  }

  h1 + p {
    font-size: 1.75em;
  }

  .logo {
    width: 100%;
  }

  .main__container {
    display: flex;
    flex-direction: row-reverse;
  }

  .main__content {
    width: 100%;
    text-align: left;
  }

  .headphone__main_image {
    width: 40%;
  }

  .headphone__links {
    justify-content: left;
  }

  .headphone__links a {
    font-size: var(--fs--large-screen--buttton);
    font-family: var(--ff--large-screen--buttton);
    font-weight: var(--fw--large-screen--button);
  }

  .headphone__links a:nth-child(1) {
    margin-right: 20px;
  }

  footer p {
    font-size: medium;
  }

  i.fa-brands.fa-1x.fa-facebook-f,
  i.fa-brands.fa-1x.fa-instagram,
  i.fa-brands.fa-1x.fa-twitter {
    display: none;
  }

  i.fa-brands.fa-2x.fa-facebook-f,
  i.fa-brands.fa-2x.fa-instagram,
  i.fa-brands.fa-2x.fa-twitter {
    display: inline;
  }
}

@media screen and (min-width: 88rem) {
  nav {
    font-size: var(--fs--large-screen--nav);
    font-family: var(--ff--large-screen--nav);
    font-weight: var(--fw--large-screen--nav);
  }
}
